body{
    background-color: #0a3640;

}

/* Opening seesion */

#opening{
    box-shadow: 0 3px 30px 0 #000000;
    position: relative;
    z-index: 2;
}

#top-description {
    background-image: url("../images/bg/retro-style.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 90vh;
    color: white;

}

#top-description h2{
    width: 100%;
    font-size: 5.5vw;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    font-family: 'Monoton', cursive;
}

#top-description h2 span{
    animation: blink linear infinite 3s;
}

#top-description p{
    font-size: 1.5vw;
    font-family: 'Ubuntu Mono', monospace;
}

#top-description a:link, #top-description a:visited{
    color: #ffffff;
}

#top-description a:hover{
    color: #59ff59;
}

#top-description a{
    font-size: 3.1rem;
}

@keyframes blink{
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }

/* Old TV */

#old-tv {
    height: 11vh;
}

#old-tv-img-1{
    background-image: url("../images/old-tv/tv-no-signal.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#old-tv-img-2{
    background-image: url("../images/old-tv/tv-no-signal-2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#old-tv-img-3{
    background-image: url("../images/old-tv/old-tv-effect.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#old-tv-img-4{
    background-image: url("../images/old-tv/green-tv-effect.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#old-tv-img-5{
    background-image: url("../images/old-tv/tv-no-signal-2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#old-tv-img-6{
    background-image: url("../images/old-tv/tv-no-signal.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* timeline */
@media only screen and (max-width: 767px){

.shadowLineLeft{
    box-shadow: unset;
}

.shadowLineRight{
    box-shadow: unset;
}

}

@media only screen and (min-width: 768px){

.shadowLineLeft{
    box-shadow: 1.3vw 0 0 0 #ffcb8f;
}

.shadowLineRight{
    box-shadow: inset 1.3vw 0 0 0 #ffcb8f;
}

}

#timeline{
    position: relative;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

.shadowLine{
    box-shadow: 1.3vw 0 0 0 #ffcb8f;
    opacity: 0.5;
}

#timeline-1992{
    height: 50vh;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

#intro-1992{
    background-image: url("../images/timeline/Me.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.5;
    font-size: 1rem;
}

#intro-1992 div{
    height: 100%;
}

#intro-1992:hover{
    opacity: 0.8;
}

.year{
    font-size: 3rem;
    color: #000000;
    text-shadow: 1px 1px #ffffff;
}

#timeline-2006{
    height: 50vh;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

#intro-2006{
    background-image: url("../images/timeline/boardgame.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.5;
    font-size: 1rem;
}

#intro-2006 div{
    height: 100%;
    margin-left: 2%;
}

#intro-2006:hover{
    opacity:0.8;
}

#timeline-2017{
    height: 50vh;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

#intro-2017{
    background-image: url("../images/timeline/graduated.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.5;
    font-size: 1rem;
}

#intro-2017 div{
    height: 100%;
}

#intro-2017:hover{
    opacity:0.8;
}

#timeline-2018{
    height: 50vh;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

#intro-2018{
    background-image: url("../images/timeline/team.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.5;
    font-size: 1rem;
}

#intro-2018 div{
    height: 100%;
    margin-left: 2%;
}

#intro-2018:hover{
    opacity:0.8;
}

#timeline-2019{
    height: 50vh;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

#intro-2019{
    background-image: url("../images/timeline/coding.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.5;
    font-size: 1rem;
}

#intro-2019 div{
    height: 100%;
    margin-left: 2%;
}

#intro-2019:hover{
    opacity:0.8;
}

#after-2019 div {
    height: 22vh;
}

/* Contact me */

#contact-me{
    background-color: #4e0000;
    border: 0;
    box-shadow: 0 -1px 30px 0 #0000008c;
    position: relative;
    z-index: 3;
    color: #ffffff;
    
}

#contact-me-shadow{
    height: 3vh ;
    background-color: #2e0000;
}

#contact-me-head{
    padding-top: 3%;
    font-size: 2rem;
}

#contact-details{
    margin-top: 3%;
    padding-bottom: 5%;
    font-size: 2rem;
}

#contact-details a{
    color: #ffffff;
}

#contact-details i{
    padding: 2%;
}




