/* navbar settings */

.navbar{
    height: 8vh;
    text-transform: uppercase;
    transition: .5s;
}

.navbar a{
    color: #ffffff;
}

.navbar li{
    border-top: 1px solid #ffffff;
    transition: .5s;
    font-size: 1.5rem;
    padding-left: 1%;
    padding-right: 1%;
}

.wineRed{
    background-color: #3b0000!important; 
}

.active{
    background-color: #ffffff;
}

.active a{
    color: #000000!important;
}

.navbar-toggler{
    border-color: #ffffff!important;
}

.fa-bars{
    color: #ffffff!important;
}
